<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>add</title>
</head>

<body>
	<table th:object="${ses}">
		<tr>
			<td>id</td>
			<td th:text="*{id}"></td>
		</tr>
		<tr>
			<td>name</td>
			<td th:text="*{name}"></td>
		</tr>
		<tr>
			<td>dob</td>
			<td th:text="*{dob}"></td>
		</tr>
		<tr>
			<td>department</td>
			<td th:text="*{department}"></td>
		</tr>

	</table>
	<a th:href="@{/confirm}"><button>Confirm</button></a>
	<a th:href="@{/}"><button>Back</button></a>
</body>

</html>